@CHARSET "ISO-8859-1";


QWidget#MainWindow {
	background-image: url(resources/mainbackground2.png);
}

QWidget#StatusBar{
	background-image: url(resources/statusBar.png);
}

QPushButton {
	background-color: transparent;
	border-image: url(resources/mainButton.png) 0 0 0 0 stretch stretch;
	font-family: "Lusitana Regular";
	font-size: 24pt;
	color: #f3f3f3;
}

QPushButton:hover {
	border-image: url(resources/mainButtonPressed.png) 0 0 0 0 stretch stretch;
}

QLabel {
	font-family: "Lusitana Regular";
}

QLabel#ModeLabel {
	font-size: 30pt;
	color: #c7c7c7;
}

QLabel#InfoLabel {
	font-size: 40pt;
	color: #dcdcdc;
}

QLabel#TimeLabel {
	font-size: 20pt;
	color: #656565;
}


